/* body and nav color styling */
.body {
    background-color: #ff9800b5 !important;
}
.sidenav {
    background-color: #ffb03c !important;
}

/* navbar styling */
.waves-effect {
    position: absolute;
    right: 0;
    margin-top: 4px !important;
}
.brand-logo {
    text-shadow: 2px 2px orange;
}

/* card styling */
.card-title {
    margin-bottom: 709px !important; 
    text-shadow: 2px 4px orange;
    font-size: 80px !important;
}
#form-title {
    line-height: 65px;
    margin-bottom: 613px !important;
}    
   
/* footer styling */
.page-footer {    
    text-align: center !important;
    bottom: 0;
    width: 100%;

    background-color: rgba(30, 124, 30, 0.808);
    color: white;

    text-align: center;
}
h5 {
    margin-top: 0;
    margin-bottom: 0;
}
.page-footer {
    padding-top: 10px;
    width: 100%!important;
}
footer div {
    margin-top: 0!important;
    margin-bottom: 5px!important;
}
#footer {
    margin-top: 0;
    margin-bottom: 5px!important;
}
#our-name {
    margin-bottom: 6px!important;
    text-shadow: 2px 2px orange;
}

/* link styling */
footer a:link {
    color: white;
}
footer a:visited {
    color: purple;
}
footer a:hover {
    color: green;
}
footer a:active {
    color: red;

}

/* media queries */
@media screen and (max-width: 985px) {
    .card-title {
        margin-bottom: 690px !important;
    }
    #form-title {
        margin-bottom: 838px !important;
    }
}
@media screen and (max-width: 768px){
.card-title {
margin-bottom: 751px !important;
font-size: 52px !important;
    }
}
@media screen and (max-width: 520px) {
    .brand-logo {
        text-align: justify;
        width: 67% !important;
    }
    .card-title {
        margin-bottom: 555px !important;
        font-size: 54px !important;
        margin-left: -15px;
    }
    .right {
        margin: -53px;
    }
}