.body {
    background-color: #ff9800b5 !important;
}
.sidenav {
    background-color: #ffb03c !important;
}
.waves-effect {
    position: absolute;
    right: 0;

    margin-top: 4px !important;
}
.brand-logo {
    text-shadow: 2px 2px orange;
}
.card-title {
    margin-bottom: 709px !important; 
    text-shadow: 2px 4px orange;
    font-size: 80px !important;
}
#card-title {
    font-size: 65px;
    text-shadow: 2px 4px orange;
}

/* google signin styling */
.g-signin2 {
    margin-left: 500px;
    margin-top: 200px;
}
.data {
    display: none;
}
/* footer styling */
footer {    
    bottom: 0;
    width: 100%;

    background-color: rgba(30, 124, 30, 0.808);
    color: white;

    text-align: center;
}
#footer {
    font-size: 26px;
    min-height: 4em;
}

/* link styling */
#footer a:link {
    color: white;
}
#footer a:visited {
    color: purple;
}
#footer a:hover {
    color: green;
}
#footer a:active {
    color: red;

}

/* media queries */
@media screen and (max-width: 985px) {
    .card-title {
        margin-bottom: 690px !important;
    }
    footer {
        height: 118px;
    }
}
@media screen and (max-width: 768px){
.card-title {
margin-bottom: 751px !important;
font-size: 52px !important;
    }
}
@media screen and (max-width: 619px) {
    footer {
        height: 198px;
    }
}
@media screen and (max-width: 520px) {
    .brand-logo {
        text-align: justify;
        width: 67% !important;
    }
    .card-title {
        margin-bottom: 555px !important;
        font-size: 54px !important;
        margin-left: -15px;
    }
    .right {
        margin: -53px;
    }
    #footer {
        font-size: 20px;
    }
}