body {
    background-image: linear-gradient(to bottom right, lightgreen, green);
}
#pic {
    margin-top: 12px;
    margin-bottom: 20px;
}
.btn {
    margin: 10px;
}
p {
    margin-bottom: 8px;
}
#emailAdd {
    width: fit-content;
}