/* navbar fix */
nav ul a.btn>.material-icons, nav ul a.btn-large>.material-icons, nav ul a.btn-small>.material-icons, nav ul a.btn-large>.material-icons, nav ul a.btn-flat>.material-icons, nav ul a.btn-floating>.material-icons {
    line-height: 24px;
}

/* button styling */

.g-signin2 {
    margin-left: 42%;
    margin-top: 16%;
}
.data {
    display: none;
}

/* color styling for body */
body {
    background-color: #ff9800b5;
}
.data {
    background-image: transparent;
}

/* magrgin styling */
#pic {
    margin-top: 12px;
    margin-bottom: 20px;
}
.btn {
    margin: 10px;
}
p {
    margin-bottom: 8px;
}
#emailAdd {
    width: fit-content;
}